@import "../_base/_grid.scss";
@import "../_base/_animate.scss";
@import "../_base/_mixin.scss";
.main {
    .title-home {
        @include flex-position(space-between);
        .title {
            font-size: 36px;
            font-weight: 900;
            line-height: 65px;
        }
        .more {
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
            text-transform: uppercase;
            color: #4B845E;
            i {
                margin-left: 10px;
                font-size: 16px;
            }
        }
    }
    &-slide {
        position: relative;
        img {
            @include image;
            height: auto;
            max-height: 618px;
        }
    }
    &-deals {
        &__product {
            padding-top: 37px;
            padding-bottom: 59px;
        }
    }
    &-post {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 512px;
        display: flex;
        @include flex-position(center);
        position: relative;
        &__description {
            .content-title {
                font-weight: bold;
                color: $text;
                &--shop {
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-bottom: 50px;
                    color: $text;
                }
                &--why {
                    font-weight: 900;
                    font-size: 36px;
                    line-height: 65px;
                    color: $title;
                    margin-bottom: 43px;
                }
            }
            .content-detail {
                font-weight: 900;
                font-size: 36px;
                max-width: 732px;
                line-height: 55px;
                color: $title;
                margin: 0 auto;
                margin-bottom: 30px;
            }
            .text {
                font-size: 18px;
                margin: 0 auto;
                line-height: 28px;
                color: $title;
                margin-bottom: 32px;
                @include webkit-box(2);
            }
        }
    }
    &-cate {
        &__product {
            padding-top: 48px;
            padding-bottom: 53px;
        }
        &__title {}
        &__list {
            .product {
                &-text--sale {
                    display: none;
                }
            }
        }
    }
    &-blog {
        &__ecipes {
            padding-top: 42px;
            padding-bottom: 69px;
            .title {
                margin-bottom: 12px;
            }
        }
        &__list {
            .col:nth-child(even) {
                padding-left: 0;
                padding-right: 0;
                .blog-posts {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
            .col:first-child {
                padding-right: 0;
            }
            .col:last-child {
                padding-left: 0;
            }
        }
    }
    &-trademark {
        padding-top: 57px;
        padding-bottom: 50px;
        background: #F5F5F5;
        .title {
            padding-bottom: 10px;
        }
        &__list {
            width: 100%;
            img {
                @include image;
            }
            .item-trademark {}
        }
    }
    &-testimonial {
        position: relative;
        padding-top: 43px;
        padding-bottom: 70px;
        &__box {
            width: 59.5%;
            margin: 0 auto;
        }
        .testimonial_image {
            width: 100%;
            height: 100%;
            img {
                @include image;
                height: 100%;
            }
        }
        .testimonial_content {
            width: 100%;
            height: 100%;
            padding: 15px;
            .info {
                img {
                    @include image;
                    width: auto;
                    margin: 0;
                    background: linear-gradient( 0deg, #E02020 0%, #FA6400 29.86%, #F7B500 47.78%, #6236FF 76.35%, #B620E0 100%);
                    border-radius: 50%;
                    display: inline-block;
                    border: 1px solid transparent;
                }
                &-name {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 28px;
                    display: flex;
                    .date-time {
                        font-weight: 400;
                        line-height: 24px;
                        color: $title;
                    }
                }
            }
            .votes {
                li i {
                    font-size: 15px;
                    font-weight: 900;
                    color: $star-color;
                }
                img {
                    @include image;
                    width: auto;
                    margin: 0;
                }
            }
            .content-testi {
                .text {
                    font-weight: 400;
                    line-height: 28px;
                    margin-bottom: 38px;
                    a {
                        color: $primary_bgk;
                    }
                }
            }
            .interact {
                .item {
                    display: flex;
                    @include flex-position(center);
                    span {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}